:root {
    --vdkblue: hsl(243, 87%, 12%);
    --blue: hsl(238, 22%, 44%);
    --brightblue: hsl(224, 93%, 58%);
    --modcyan: hsl(170, 45%, 43%);
    --ltgrayblue: hsl(240, 75%, 98%);
    --ltgray: hsl(0, 0%, 75%);
    --heading: 'Raleway', sans-serif;
    --bodytext: 'Open Sans', sans-serif;
}

/* GLOBAL STYLES */
html {
    /* max-width: 100vw; */
    /* max-width: 100%; */
    /* box-sizing: border-box; */
}
body {
    /* box-sizing: border-box; */
    font-family: var(--bodytext);
    font-size: 16px;
    color: var(--vdkblue);
    margin: 0;
    max-width: 100vw;
}
h1 {
    color: var(--vdkblue);
    font-family: var(--heading);
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--vdkblue);
    font-family: var(--heading);
}
input {
    border-radius: 3px;
    box-shadow: none;
    width: calc(90% - 20px);
    margin: 10px auto;
    padding: 10px 0px 10px 20px;
}
::placeholder {
    color: var(--ltgray);
    font-family: var(--heading);
}
input[type="submit"] {
    background: var(--brightblue);
    border: 1px solid var(--brightblue);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 700;
    font-family: var(--heading);
    width: 90%
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.text-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}
section img {
    max-width: 85vw;
    padding: 20px;
    margin: 0 auto;
}
section h1,
section p {
    text-align: center;
    width: 90%;
    margin: 10px auto;
    line-height: 1.5;
    font-size: 0.95rem;
}


/* HEADER */
header {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
header img {
    padding: 20px;
    max-width: 90px;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}
nav ul li {
    padding: 0 5px;
}
nav ul li a {
    font-size: 0.9rem;
}

/* SECTION ONE */
#one {
    margin: 4rem auto 6rem;
}
#one h1 {
    font-family: var(--bodytext);
    font-weight: 700;
    font-size: 1.5rem;
}
#one p {
    margin-bottom: 40px;
}
#one input[type="email"] {
    border: 1px solid var(--vdkblue);
}

/* SECTION TWO */
#shape {
    width: 100vw;
}
#two {
    background: var(--ltgrayblue);
    position: relative;
    margin-top: -5px;
}
#two p {
    text-align: left;
    width: 95%;
    color: var(--blue);
}
#two a {
    font-family: var(--bodytext);
    font-size: 0.9rem;
    color: var(--modcyan);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--modcyan);
    width: 160px;
    text-align: center;
    justify-self: center;
    margin: 25px auto;
}
#two a img {
    padding: 0;
    width: 20px;
    margin-bottom: -5px;
}
.card {
    background: white;
    width: 70%;
    margin: 2rem auto 5rem;
    padding: 20px;
    border-radius: 4px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: start;
    align-items: start;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.card img:first-of-type {
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;
}
#two .card p {
    grid-column: 1 / -1;
    width: 100%;
    font-size: 0.65rem;
    font-weight: 700;
    line-height: 1.5;
}
.avatar {
    display: grid;
    grid-template-columns: 40px 1fr;
}
#avatar {
    border-radius: 50%;
    width: 30px;
    margin: 0;
    padding: 0;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.avatar h1 span {
    font-size: 0.7rem;
}
.avatar h1 {
    font-size: 0.5rem;
    text-align: left;
    margin: 0;
}

/* SECTION THREE */
#three {
    background: var(--blue);
    padding: 4rem 0;
}
#three h1,
#three p {
    color: white;
}
#three h1 {
    font-size: 1.5rem;
}
#three input[type="email"] {
    margin-bottom: 0;
    border: 0;
}


/* FOOTER */
footer {
    background: var(--vdkblue);
    padding: 4rem 2rem;
}
footer img:first-of-type {
    filter: brightness(0%) invert(100%);
    margin-bottom: 2rem;
}
footer .contact {
    display: grid;
    grid-gap: 20px;
    margin-bottom: 3rem;
}
footer .contact .contact-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "icon text";
    align-items: center;
    margin: 0;
    width: 100%;
}
footer .contact .contact-wrapper img {
    grid-area: icon;
    margin: 0;
}
footer .contact .contact-wrapper p {
    grid-area: text;
    margin: 0;
}
footer p,
footer a {
    color: white;
}
.sitemap ul {
    margin-bottom: 2rem;
}
.sitemap li {
    line-height: 2;
}
#social-icons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
}
#social-icons li {
    width: 20px;
    height: 20px;
    padding: 2px;
    border: 1px solid white;
    border-radius: 50%;
}
#social-icons li {
    padding: 0 0 10px 8px;
}

/* MEDIA QUERIES */
@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .wrapper img {
        max-width: 90%;
    }
    .text-wrapper {
        order: -1;
        grid-template-columns: 2fr 1fr;
        justify-content: start;
    }
    .text-wrapper > * {
        margin: 10px;
    }
    /* HEADER */
    header {
        padding: 2rem;
        grid-template-columns: 2fr 1fr;
    }

    /* SECTION ONE */
    #one .text-wrapper h1,
    #one .text-wrapper p {
        grid-column: 1 / -1;
        text-align: left;
    }
    #one input[type="submit"] {
        padding: 10px 15px;
        text-align: center;
        margin-left: 0;
    }

    /* SECTION TWO */
    #two .text-wrapper h1,
    #two .text-wrapper p,
    #two .text-wrapper a {
        grid-column: 1 / -1;
        text-align: left;
        margin: 10px;
        justify-self: start;
    }

    /* SECTION THREE */
    #three .wrapper {
        justify-content: start;
        align-items: start;
    }
    #three .wrapper > * {
        text-align: left;
        margin: 10px;
    }
    #three p {
        order: 3;
    }
    #three input[type="email"] {
        order: 2;
    }
    #three input[type="submit"] {
        order: 4;
        width: 40%;
        padding: 10px 15px;
        text-align: center;
    }
}