:root {
    --vdkblue: hsl(243, 87%, 12%);
    --blue: hsl(238, 22%, 44%);
    --brightblue: hsl(224, 93%, 58%);
    --modcyan: hsl(170, 45%, 43%);
    --ltgrayblue: hsl(240, 75%, 98%);
    --ltgray: hsl(0, 0%, 75%);
    --heading: 'Raleway', sans-serif;
    --bodytext: 'Open Sans', sans-serif;
}

/* GLOBAL STYLES */
body {
    box-sizing: border-box;
    font-family: var(--bodytext);
    font-size: 16px;
    color: var(--vdkblue);
    margin: 0;
    max-width: 100vw;
}
h1 {
    color: var(--vdkblue);
    font-family: var(--heading);
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--vdkblue);
    font-family: var(--heading);
}
input {
    border-radius: 3px;
    box-shadow: none;
    width: calc(90% - 20px);
    margin: 10px auto;
    padding: 10px 0px 10px 20px;
}
::placeholder {
    color: var(--ltgray);
    font-family: var(--heading);
}
input[type="submit"] {
    background: var(--brightblue);
    border: 1px solid var(--brightblue);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 700;
    font-family: var(--heading);
    width: 90%
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
section img {
    max-width: 85vw;
    padding: 20px;
    margin: 0 auto;
}
section h1,
section p {
    text-align: center;
    width: 90%;
    margin: 10px auto;
    line-height: 1.5;
    font-size: 0.95rem;
}


/* HEADER */
header {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
header img {
    padding: 20px;
    max-width: 90px;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}
nav ul li {
    padding: 0 5px;
}
nav ul li a {
    font-size: 0.9rem;
}

/* SECTION ONE */
#one {
    margin: 4rem auto 8rem;
}
#one h1 {
    font-family: var(--bodytext);
    font-weight: 700;
    font-size: 1.5rem;
}
#one p {
    margin-bottom: 40px;
}
#one input[type="email"] {
    border: 1px solid var(--vdkblue);
}

/* SECTION TWO */
#two::before {
    content: '';
    background-image: url('../images/bg-curve-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vw;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    height: 95px;
    z-index: -1;
}
#two {
    background: var(--ltgrayblue);
    position: relative;
}
#two p {
    text-align: left;
    width: 95%;
    color: var(--blue);
}
#two a {
    font-family: var(--bodytext);
    font-size: 0.9rem;
    color: var(--modcyan);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--modcyan);
    width: 160px;
    text-align: center;
    justify-self: center;
    margin: 25px auto;
}
#two a img {
    padding: 0;
    width: 20px;
    margin-bottom: -5px;
}

/* SECTION THREE */
#three {
    background: var(--blue);
    padding: 5rem 0;
}
#three h1,
#three p {
    color: white;
}
#three h1 {
    font-size: 1.5rem;
}


/* FOOTER */
footer {
    background: var(--vdkblue);
}
footer img:first-of-type {
    filter: brightness(0%) invert(100%);
}
footer p,
footer a {
    color: white;
}